<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>CNC/R0mo3BTMIsd/YkpKTfsLx0aHnyT+N75IZU9bQGCDenKwgbWDjSKlGjwh5jHiqKSctx0qz4ym10D06cpjsyt8LZiRiFOnb/g8W9Aj5yQos3iHOjW6smrWWuNKZmpV6VTzrjrAOckVWvou5Q1xfJ8N7kpIgvFEKnwjzLQtaXA9XgiW6OAJlLOs0ezkm/ev2LHI33ryUKQOMofeh9rZCFMz2jndNPfHClfhw5nILGH/h4WZjQsiAN+n3qNgg8M98RAhUfEOHPvbDZYFWtRpUvZ4B46Wg06WS/o+StfqGtLFOPk+R/CF5kWMoBbZssnkMxI1UcRDzOL0uMqanAjWOA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>uxcRAnPJHEU5qxWe+C+505G4GUhQcgZDccM085uLVWXXV8wAxGa6NwxmHPFbzd2a</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>